/* En tu archivo de estilos CSS */

ion-card.login-card {
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ion-title.login-title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: white;
}

ion-card-content.login-content {
  padding: 16px;
}

ion-item {
  margin-bottom: 16px;
}

ion-button.login-button {
  --border-radius: 5px;
  --background: linear-gradient(to bottom, rgb(51, 54, 255), #00c3ff);
  --color: white;
  font-weight: bold;
  margin-top: 16px;
}

ion-input {
  border: 2px solid #e0e0e0;
  border-radius: 5px;
}



