<ion-header [translucent]="true">
  
</ion-header>

<ion-content  [fullscreen]="true" *ngIf="usuario">
  <ion-card style="margin-top: 70%;" class="login-card">    <ion-card-header>
      <ion-title class="login-title">Iniciar Sesión</ion-title>
    </ion-card-header>
    <ion-card-content class="login-content" style="margin-bottom: 0;">
      <ion-item lines="none">
        <ion-input          
          type="text"
          placeholder="Ingrese su email"
          [(ngModel)]="usuario.email"
        ></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input
                    type="password"
          placeholder="Ingrese su contraseña"
          [(ngModel)]="usuario.password"
        ></ion-input>
      </ion-item>
    </ion-card-content>
    <ion-button expand="full" (click)="loginUser()" class="login-button">
      Ingresar
    </ion-button>
    
  </ion-card>
</ion-content>
