<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        [text]="getBackButtonText()"
        defaultHref="/"
      ></ion-back-button>
    </ion-buttons>
    <ion-title> Usuarios </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="usuarios">
  <ion-card>
    <ion-list>
      <!-- NOMBRE Y APELLIDO DEL USUARIO-->
      <ion-item *ngFor="let usuario of usuarios">
        <ion-label [routerLink]="'/user-edit/'+usuario.id"
          >{{usuario.id}} - {{usuario.name}} - {{usuario.last_name}}</ion-label
        >
        <!-- EDITAR USUARIO-->

        <ion-icon
          slot="end"
          name="create"
          [routerLink]="'/user-edit/'
        +
        usuario.id"
        ></ion-icon>

        <!-- ELIMINAR USUARIO-->
        <ion-icon (click)="confirmDelete(usuario.id)" slot="end" name="trash">
        </ion-icon>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- AGREGAR USUARIO-->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="'/user-edit/0'">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
