<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="getBackButtonText()" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalles del Tópico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">topic-details</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngIf="topic">
    <ion-card-header>
      <div class="header-content">
        <span class="comment-author">{{ topic.name }}</span>
        <ion-button color="transparent" [routerLink]="'/topic-edit/' + topic.id" style="--box-shadow: none;">
          <ion-icon slot="icon-only" name="create-outline" style="font-size: 30px;"></ion-icon>
        </ion-button>

      </div>
    </ion-card-header>
    <ion-card-content>
      <p>Color: {{ topic.color }}</p>
      <p>Fecha de Creación: {{ topic.create_date }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="topic">
    <ion-card-header class="comment-author" style="padding-bottom: 0;">{{Comentarios}}</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item class="comment" *ngFor="let comentario of topicoComentarios">
          <div class="comment-info">
            <span class="comment-author">{{ comentario.name }} {{ comentario.last_name }}</span>
            <span class="comment-date">{{ formatDate(comentario.created_at) }}</span>
          </div>
          <div class="comment-text">
            {{ comentario.text }}
          </div>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-card-header>
      <div class="icon-row">
        <ion-button (click)="compartir(topic)">
          <ion-icon name="share-social-outline"></ion-icon>
          Compartir
        </ion-button>
        <ion-button style="margin-left: 5px;" (click)="abrirCerrarModal()">
          <ion-icon name="add-outline"></ion-icon>
          Comentar
        </ion-button>
      </div>
    </ion-card-header>
  </ion-card>

</ion-content>

<ion-modal [isOpen]="isModal">
  <ng-template>
    <ion-content class="modal-content">
      <ion-card>
        <ion-card-header>
          <ion-label class="comment-author" position="floating">Tu comentario</ion-label>
        </ion-card-header>

        <ion-card-content>
          <ion-textarea [(ngModel)]="newComentario" rows="4" placeholder="Escribe tu comentario aquí"></ion-textarea>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <div class="icon-row">
            <ion-button (click)="abrirCerrarModal()">
              <ion-icon name="close-outline"></ion-icon>
              Cerrar
            </ion-button>
            <ion-button style="margin-left: 5px;" (click)="guardarComentario()">
              <ion-icon name="add-outline"></ion-icon>
              Agregar
            </ion-button>
          </div>
        </ion-card-header>
      </ion-card>

    </ion-content>
  </ng-template>
</ion-modal>


<ion-modal [isOpen]="mostrarSelectUsuarios">
  <ng-template>
    <ion-content class="modal-content">
      <ion-card>
        <ion-card-header>
          <ion-label class="comment-author" position="floating">Compartir con:</ion-label>
        </ion-card-header>

        <ion-card-content>
          <ion-item>
            <ion-select #selectUsuarios multiple="true" cancelText="Cancelar" okText="Aceptar"
              [(ngModel)]="usuariosSeleccionados" placeholder="Selecione usuarios">
              <ion-select-option *ngFor="let usuario of usuarios" [value]="usuario.id">
                {{ usuario.name }} {{ usuario.last_name }}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="topic">
        <ion-card-header>
          <div class="header-content">
            <span class="comment-author">Tipo a Compartir</span>
          </div>
        </ion-card-header>
        <ion-card-content>
          <p>{{topic.name}}</p>
          <p>Color: {{ topic.color }}</p>
          <p>Fecha de Creación: {{ topic.create_date }}</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <div class="icon-row">
            <ion-button (click)="abrirCerrarModalCompartir()">
              <ion-icon name="close-outline"></ion-icon>
              Cerrar
            </ion-button>
            <ion-button style="margin-left: 5px;" (click)="grabarCompartir()">
              <ion-icon name="checkmark-outline"></ion-icon>
              Ok
            </ion-button>
          </div>
        </ion-card-header>
      </ion-card>

    </ion-content>
  </ng-template>
</ion-modal>