.comment {
    margin: 10px 0;
}

.comment-info {
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #ccc;
    width: 100px;
    height: 80px;
}

.comment-text {
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 240px;
    height: 80px;
}


.comment-author {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 15px;
}

.comment-date {
    font-size: 9px;
}



.icon-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    /* Ajusta el espaciado entre los botones si es necesario */
}

ion-button:last-child {
    margin-right: 0;
    /* Elimina el margen derecho del último botón */
}



.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ion-button {
    padding: 0;
    margin: 0;
}


.modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


